// sizing styles
$component-height: 100vh;
$modal-height-mobile: 250px;
$modal-width-mobile: 250px;
$modal-image-mobile: 200px; 

// color styles
$main-color: #FFBB3C;

// font styles
$h1-size-mobile: 30px;
$h3-size-mobile: 20px;
$bold: bold;