@import './variables';

h1 {
    font-size: $h1-size-mobile;
    font-weight: $bold;
    margin: 10px 0px 5px 0px;
}

h3 {
    font-size: $h3-size-mobile;
    font-weight: $bold;
    margin: 10px;
}

input {
    height: 30px;
    width: 200px;
    border: none;
    border-bottom: 2px solid black;
    background-color: $main-color;
    outline: none;
    font-size: 18px;
}

.App {
    height: $component-height;
    background-color: $main-color;
    text-align: center;
    position: relative;
}

.modal-image {
    width: $modal-image-mobile;
}